
body {
    z-index:-999;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-color: #141414;
    background-image: '';
    animation: AnimateBG 3s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

        .one {
              z-index: 1;
              position: absolute;
             /* width: 100%;
              height: auto;*/
              top: 0;
              left: 25%;
        }
        .two {
              z-index: -1;
              position: absolute;
             /* width: 100%;
              height: auto;*/
              top: 0;
              left: 25%;
        }